################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
/.gitignore
/ConsoleApplication2/x64/Debug
/ConsoleApplication2/.vs/ConsoleApplication2/v17
/ConsoleApplication2/.vs/ConsoleApplication2/FileContentIndex
/Intel_Edge/.vs/Intel_Edge
/Intel_Edge/Test1/x64/Debug
/Intel_Edge/x64/Debug
